CREATE DATABASE QL_BACHHOA
GO
USE [QL_BACHHOA]
GO
/****** Object:  Table [dbo].[CHITIET_HD]    Script Date: 11/4/2023 5:29:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHITIET_HD](
	[MASP] [int] NOT NULL,
	[MAHD] [char](20) NOT NULL,
	[SL] [int] NULL,
	[GIABAN] [int] NULL,
 CONSTRAINT [PK_CHITIET_HD] PRIMARY KEY CLUSTERED 
(
	[MASP] ASC,
	[MAHD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CHITIET_PN]    Script Date: 11/4/2023 5:29:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHITIET_PN](
	[MAPN] [int] NOT NULL,
	[MASP] [int] NOT NULL,
	[SL] [int] NULL,
	[GIANHAP] [int] NULL,
	[THANHTIEN] [int] NULL,
 CONSTRAINT [PK_CHITIET_PN] PRIMARY KEY CLUSTERED 
(
	[MAPN] ASC,
	[MASP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CHITIET_QUYEN]    Script Date: 11/4/2023 5:29:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHITIET_QUYEN](
	[MACT] [int] IDENTITY(1,1) NOT NULL,
	[MAQUYEN] [int] NOT NULL,
	[TENCT] [nvarchar](50) NULL,
	[CAP_PHEP] [int] NULL,
 CONSTRAINT [PK_CHITIET_QUYEN] PRIMARY KEY CLUSTERED 
(
	[MACT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DOITRA]    Script Date: 11/4/2023 5:29:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DOITRA](
	[MADT] [int] IDENTITY(1,1) NOT NULL,
	[MAHD] [char](20) NOT NULL,
	[NGAYDOI] [datetime] NULL,
	[MASP] [int] NULL,
	[SL] [int] NULL,
	[GIABAN] [int] NULL,
 CONSTRAINT [PK_DOITRA] PRIMARY KEY CLUSTERED 
(
	[MADT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HOADON]    Script Date: 11/4/2023 5:29:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HOADON](
	[MAHD] [char](20) NOT NULL,
	[SDT_KH] [char](50) NOT NULL,
	[MANV] [int] NOT NULL,
	[NGAYLAP] [datetime] NULL,
	[TONGTIEN] [int] NULL,
	[TRANGTHAI_DH] [nvarchar](50) NULL,
	[HINHTHUC_TT] [nvarchar](50) NULL,
	[LIDO] [nvarchar](100) NULL,
 CONSTRAINT [PK_HOADON] PRIMARY KEY CLUSTERED 
(
	[MAHD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KHACHHANG]    Script Date: 11/4/2023 5:29:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KHACHHANG](
	[SDT_KH] [char](50) NOT NULL,
	[TENKH] [nvarchar](100) NOT NULL,
	[DIACHI] [nvarchar](100) NULL,
	[EMAIL] [char](50) NULL,
	[MATKHAU] [char](50) NULL,
	[SDT_NHANHANG] [char](10) NULL,
	[TEN_NHANHANG] [nvarchar](50) NULL,
	[DIACHI_NHANHANG] [nvarchar](50) NULL,
	[OTP] [char](6) NULL,
 CONSTRAINT [PK_KHACHHANG] PRIMARY KEY CLUSTERED 
(
	[SDT_KH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NHACUNGCAP]    Script Date: 11/4/2023 5:29:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NHACUNGCAP](
	[MANCC] [int] IDENTITY(1,1) NOT NULL,
	[TENNCC] [nvarchar](100) NULL,
	[DIACHI] [nvarchar](100) NULL,
	[SDT] [char](20) NULL,
 CONSTRAINT [PK_NHACUNGCAP] PRIMARY KEY CLUSTERED 
(
	[MANCC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NHANVIEN]    Script Date: 11/4/2023 5:29:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NHANVIEN](
	[MANV] [int] IDENTITY(1,1) NOT NULL,
	[TENNV] [nvarchar](100) NULL,
	[GIOITINH] [nvarchar](50) NULL,
	[SDT] [char](20) NULL,
	[MATKHAU] [char](50) NULL,
	[TAIKHOAN] [nvarchar](100) NULL,
	[MAQUYEN] [int] NULL,
 CONSTRAINT [PK_NHANVIEN] PRIMARY KEY CLUSTERED 
(
	[MANV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NHOMHANG]    Script Date: 11/4/2023 5:29:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NHOMHANG](
	[MANH] [int] IDENTITY(1,1) NOT NULL,
	[TENNH] [nvarchar](100) NULL,
 CONSTRAINT [PK_NHOMHANG] PRIMARY KEY CLUSTERED 
(
	[MANH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NHOMQUYEN]    Script Date: 11/4/2023 5:29:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NHOMQUYEN](
	[MAQUYEN] [int] IDENTITY(1,1) NOT NULL,
	[TENQUYEN] [nvarchar](50) NULL,
 CONSTRAINT [PK_NHOMQUYEN] PRIMARY KEY CLUSTERED 
(
	[MAQUYEN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PHIEUNHAP]    Script Date: 11/4/2023 5:29:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PHIEUNHAP](
	[MAPN] [int] IDENTITY(1,1) NOT NULL,
	[MANCC] [int] NOT NULL,
	[NGAYNHAP] [datetime] NULL,
	[TONGNHAP] [int] NULL,
	[MANV] [int] NULL,
 CONSTRAINT [PK_PHIEUNHAP] PRIMARY KEY CLUSTERED 
(
	[MAPN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SANPHAM]    Script Date: 11/4/2023 5:29:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SANPHAM](
	[MASP] [int] IDENTITY(1,1) NOT NULL,
	[MANH] [int] NOT NULL,
	[TENSP] [nvarchar](100) NULL,
	[HINH] [char](50) NULL,
	[SOLUONG] [int] NULL,
	[KHOILUONG] [nchar](10) NULL,
	[GIABAN] [int] NULL,
	[LUOTBAN] [int] NULL,
	[MANCC] [int] NULL,
 CONSTRAINT [PK_SANPHAM] PRIMARY KEY CLUSTERED 
(
	[MASP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[CHITIET_HD] ([MASP], [MAHD], [SL], [GIABAN]) VALUES (1, N'1                   ', 1, 55000)
INSERT [dbo].[CHITIET_HD] ([MASP], [MAHD], [SL], [GIABAN]) VALUES (1, N'12                  ', 3, 55000)
INSERT [dbo].[CHITIET_HD] ([MASP], [MAHD], [SL], [GIABAN]) VALUES (2, N'1                   ', 2, 45000)
GO
INSERT [dbo].[CHITIET_PN] ([MAPN], [MASP], [SL], [GIANHAP], [THANHTIEN]) VALUES (1, 1, 100, 45000, 4500000)
INSERT [dbo].[CHITIET_PN] ([MAPN], [MASP], [SL], [GIANHAP], [THANHTIEN]) VALUES (1, 2, 100, 35000, 3500000)
INSERT [dbo].[CHITIET_PN] ([MAPN], [MASP], [SL], [GIANHAP], [THANHTIEN]) VALUES (1, 3, 100, 40000, 4000000)
GO
SET IDENTITY_INSERT [dbo].[CHITIET_QUYEN] ON 

INSERT [dbo].[CHITIET_QUYEN] ([MACT], [MAQUYEN], [TENCT], [CAP_PHEP]) VALUES (1, 1, N'SF_SANPHAM', 1)
INSERT [dbo].[CHITIET_QUYEN] ([MACT], [MAQUYEN], [TENCT], [CAP_PHEP]) VALUES (2, 1, N'SF_NHANVIEN', 1)
INSERT [dbo].[CHITIET_QUYEN] ([MACT], [MAQUYEN], [TENCT], [CAP_PHEP]) VALUES (3, 1, N'SF_NHAPHANG', 1)
SET IDENTITY_INSERT [dbo].[CHITIET_QUYEN] OFF
GO
SET IDENTITY_INSERT [dbo].[DOITRA] ON 

INSERT [dbo].[DOITRA] ([MADT], [MAHD], [NGAYDOI], [MASP], [SL], [GIABAN]) VALUES (1, N'2                   ', CAST(N'2023-09-27T00:00:00.000' AS DateTime), NULL, NULL, NULL)
INSERT [dbo].[DOITRA] ([MADT], [MAHD], [NGAYDOI], [MASP], [SL], [GIABAN]) VALUES (2, N'3                   ', CAST(N'2023-09-27T00:00:00.000' AS DateTime), NULL, NULL, NULL)
INSERT [dbo].[DOITRA] ([MADT], [MAHD], [NGAYDOI], [MASP], [SL], [GIABAN]) VALUES (3, N'1                   ', CAST(N'2023-09-27T00:00:00.000' AS DateTime), NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[DOITRA] OFF
GO
INSERT [dbo].[HOADON] ([MAHD], [SDT_KH], [MANV], [NGAYLAP], [TONGTIEN], [TRANGTHAI_DH], [HINHTHUC_TT], [LIDO]) VALUES (N'1                   ', N'0341112113                                        ', 1, CAST(N'2023-08-15T00:00:00.000' AS DateTime), 345000, N'Đã giao', NULL, NULL)
INSERT [dbo].[HOADON] ([MAHD], [SDT_KH], [MANV], [NGAYLAP], [TONGTIEN], [TRANGTHAI_DH], [HINHTHUC_TT], [LIDO]) VALUES (N'10                  ', N'0341112114                                        ', 2, CAST(N'2023-09-05T00:00:00.000' AS DateTime), 2676000, N'Đã đổi trả', NULL, NULL)
INSERT [dbo].[HOADON] ([MAHD], [SDT_KH], [MANV], [NGAYLAP], [TONGTIEN], [TRANGTHAI_DH], [HINHTHUC_TT], [LIDO]) VALUES (N'11                  ', N'0341112115                                        ', 1, CAST(N'2023-09-06T00:00:00.000' AS DateTime), 287000, N'Đã giao', NULL, NULL)
GO
INSERT [dbo].[KHACHHANG] ([SDT_KH], [TENKH], [DIACHI], [EMAIL], [MATKHAU], [SDT_NHANHANG], [TEN_NHANHANG], [DIACHI_NHANHANG], [OTP]) VALUES (N'0000000000                                        ', N'Phan Ánh Linh', NULL, N'linhpta@gmail.com                                 ', N'123456                                            ', NULL, NULL, NULL, NULL)
INSERT [dbo].[KHACHHANG] ([SDT_KH], [TENKH], [DIACHI], [EMAIL], [MATKHAU], [SDT_NHANHANG], [TEN_NHANHANG], [DIACHI_NHANHANG], [OTP]) VALUES (N'0341112113                                        ', N'Lê Minh Kha', N'TP.HCM', N'khale@gmail.com                                   ', N'123456                                            ', NULL, NULL, NULL, NULL)
INSERT [dbo].[KHACHHANG] ([SDT_KH], [TENKH], [DIACHI], [EMAIL], [MATKHAU], [SDT_NHANHANG], [TEN_NHANHANG], [DIACHI_NHANHANG], [OTP]) VALUES (N'0341112114                                        ', N'Biện Thanh Nhựt', N'Tây Ninh', N'nhutbien@gmail.com                                ', N'123456                                            ', NULL, NULL, NULL, NULL)
GO
SET IDENTITY_INSERT [dbo].[NHACUNGCAP] ON 

INSERT [dbo].[NHACUNGCAP] ([MANCC], [TENNCC], [DIACHI], [SDT]) VALUES (1, N'Công ty cổ phần thực phẩm Hữu Nghị', N'122 Định Công,  phường Định Công, quận Hoàng Mai, Hà Nội', N'02546649451         ')
INSERT [dbo].[NHACUNGCAP] ([MANCC], [TENNCC], [DIACHI], [SDT]) VALUES (2, N'Công ty TNHH Phạm Nguyên', N'Số 613, Đường Trần Đại Nghĩa, Phường Tân Tạo A, quận Bình Tân, thành phố Hồ Chí Minh', N'028 3765 7979       ')
INSERT [dbo].[NHACUNGCAP] ([MANCC], [TENNCC], [DIACHI], [SDT]) VALUES (3, N'Công ty TNHH Nước giải khát SUNTORY PEPSICO Việt Nam', N'Tầng 5, Khách sạn Sheraton, 88 Đồng Khởi, Quận 1, TP. HCM', N'08 3821 9437        ')
SET IDENTITY_INSERT [dbo].[NHACUNGCAP] OFF
GO
SET IDENTITY_INSERT [dbo].[NHANVIEN] ON 

INSERT [dbo].[NHANVIEN] ([MANV], [TENNV], [GIOITINH], [SDT], [MATKHAU], [TAIKHOAN], [MAQUYEN]) VALUES (1, N'Phan Linh', N'Nữ', N'0325615846          ', N'123                                               ', N'linhphan', 1)
INSERT [dbo].[NHANVIEN] ([MANV], [TENNV], [GIOITINH], [SDT], [MATKHAU], [TAIKHOAN], [MAQUYEN]) VALUES (2, N'Huỳnh Mai', N'Nữ', N'0254875633          ', N'123                                               ', N'maihuynh', 3)
INSERT [dbo].[NHANVIEN] ([MANV], [TENNV], [GIOITINH], [SDT], [MATKHAU], [TAIKHOAN], [MAQUYEN]) VALUES (3, N'Trường Đạt', N'Nam', N'0362512585          ', N'123                                               ', N'truongdat', 2)
SET IDENTITY_INSERT [dbo].[NHANVIEN] OFF
GO
SET IDENTITY_INSERT [dbo].[NHOMHANG] ON 

INSERT [dbo].[NHOMHANG] ([MANH], [TENNH]) VALUES (1, N'Bánh kẹo')
INSERT [dbo].[NHOMHANG] ([MANH], [TENNH]) VALUES (2, N'Sữa')
INSERT [dbo].[NHOMHANG] ([MANH], [TENNH]) VALUES (3, N'Gia vị')
SET IDENTITY_INSERT [dbo].[NHOMHANG] OFF
GO
SET IDENTITY_INSERT [dbo].[NHOMQUYEN] ON 

INSERT [dbo].[NHOMQUYEN] ([MAQUYEN], [TENQUYEN]) VALUES (1, N'Quản lý')
INSERT [dbo].[NHOMQUYEN] ([MAQUYEN], [TENQUYEN]) VALUES (2, N'Nhân viên kho')
INSERT [dbo].[NHOMQUYEN] ([MAQUYEN], [TENQUYEN]) VALUES (3, N'Nhân viên bán hàng')
SET IDENTITY_INSERT [dbo].[NHOMQUYEN] OFF
GO
SET IDENTITY_INSERT [dbo].[PHIEUNHAP] ON 

INSERT [dbo].[PHIEUNHAP] ([MAPN], [MANCC], [NGAYNHAP], [TONGNHAP], [MANV]) VALUES (1, 1, CAST(N'2023-08-01T00:00:00.000' AS DateTime), 12000000, 3)
INSERT [dbo].[PHIEUNHAP] ([MAPN], [MANCC], [NGAYNHAP], [TONGNHAP], [MANV]) VALUES (2, 2, CAST(N'2023-08-01T00:00:00.000' AS DateTime), 1500000, 3)
INSERT [dbo].[PHIEUNHAP] ([MAPN], [MANCC], [NGAYNHAP], [TONGNHAP], [MANV]) VALUES (3, 3, CAST(N'2023-08-01T00:00:00.000' AS DateTime), 16400000, 3)
SET IDENTITY_INSERT [dbo].[PHIEUNHAP] OFF
GO
SET IDENTITY_INSERT [dbo].[SANPHAM] ON 

INSERT [dbo].[SANPHAM] ([MASP], [MANH], [TENSP], [HINH], [SOLUONG], [KHOILUONG], [GIABAN], [LUOTBAN], [MANCC]) VALUES (1, 1, N'Bánh trứng Tipo hộp', N'1                                                 ', 100, N'250g      ', 50000, 34, 1)
INSERT [dbo].[SANPHAM] ([MASP], [MANH], [TENSP], [HINH], [SOLUONG], [KHOILUONG], [GIABAN], [LUOTBAN], [MANCC]) VALUES (2, 1, N'Bánh Trứng Tipo gói', N'1                                                 ', 54, N'220g      ', 10000, 12, 1)
INSERT [dbo].[SANPHAM] ([MASP], [MANH], [TENSP], [HINH], [SOLUONG], [KHOILUONG], [GIABAN], [LUOTBAN], [MANCC]) VALUES (3, 1, N'Bánh xốp nhân phô mai Nabati hộp', N'1                                                 ', 33, N'300g      ', 50000, 3, 1)
SET IDENTITY_INSERT [dbo].[SANPHAM] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__SANPHAM__A58DE95C8D450D2E]    Script Date: 11/4/2023 5:29:57 PM ******/
ALTER TABLE [dbo].[SANPHAM] ADD UNIQUE NONCLUSTERED 
(
	[TENSP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[CHITIET_HD]  WITH CHECK ADD  CONSTRAINT [FK_CHITIET_HD_HOADON] FOREIGN KEY([MAHD])
REFERENCES [dbo].[HOADON] ([MAHD])
GO
ALTER TABLE [dbo].[CHITIET_HD] CHECK CONSTRAINT [FK_CHITIET_HD_HOADON]
GO
ALTER TABLE [dbo].[CHITIET_HD]  WITH CHECK ADD  CONSTRAINT [FK_CHITIET_HD_SANPHAM] FOREIGN KEY([MASP])
REFERENCES [dbo].[SANPHAM] ([MASP])
GO
ALTER TABLE [dbo].[CHITIET_HD] CHECK CONSTRAINT [FK_CHITIET_HD_SANPHAM]
GO
ALTER TABLE [dbo].[CHITIET_PN]  WITH CHECK ADD  CONSTRAINT [FK_CHITIET_PN_PHIEUNHAP] FOREIGN KEY([MAPN])
REFERENCES [dbo].[PHIEUNHAP] ([MAPN])
GO
ALTER TABLE [dbo].[CHITIET_PN] CHECK CONSTRAINT [FK_CHITIET_PN_PHIEUNHAP]
GO
ALTER TABLE [dbo].[CHITIET_PN]  WITH CHECK ADD  CONSTRAINT [FK_CHITIET_PN_SANPHAM] FOREIGN KEY([MASP])
REFERENCES [dbo].[SANPHAM] ([MASP])
GO
ALTER TABLE [dbo].[CHITIET_PN] CHECK CONSTRAINT [FK_CHITIET_PN_SANPHAM]
GO
ALTER TABLE [dbo].[CHITIET_QUYEN]  WITH CHECK ADD  CONSTRAINT [FK_CHITIET_QUYEN_NHOMQUYEN] FOREIGN KEY([MAQUYEN])
REFERENCES [dbo].[NHOMQUYEN] ([MAQUYEN])
GO
ALTER TABLE [dbo].[CHITIET_QUYEN] CHECK CONSTRAINT [FK_CHITIET_QUYEN_NHOMQUYEN]
GO
ALTER TABLE [dbo].[DOITRA]  WITH CHECK ADD  CONSTRAINT [FK_DOITRA_HOADON] FOREIGN KEY([MAHD])
REFERENCES [dbo].[HOADON] ([MAHD])
GO
ALTER TABLE [dbo].[DOITRA] CHECK CONSTRAINT [FK_DOITRA_HOADON]
GO
ALTER TABLE [dbo].[DOITRA]  WITH CHECK ADD  CONSTRAINT [FK_DOITRA_SANPHAM] FOREIGN KEY([MASP])
REFERENCES [dbo].[SANPHAM] ([MASP])
GO
ALTER TABLE [dbo].[DOITRA] CHECK CONSTRAINT [FK_DOITRA_SANPHAM]
GO
ALTER TABLE [dbo].[HOADON]  WITH CHECK ADD  CONSTRAINT [FK_HOADON_KHACHHANG] FOREIGN KEY([SDT_KH])
REFERENCES [dbo].[KHACHHANG] ([SDT_KH])
GO
ALTER TABLE [dbo].[HOADON] CHECK CONSTRAINT [FK_HOADON_KHACHHANG]
GO
ALTER TABLE [dbo].[HOADON]  WITH CHECK ADD  CONSTRAINT [FK_HOADON_NHANVIEN] FOREIGN KEY([MANV])
REFERENCES [dbo].[NHANVIEN] ([MANV])
GO
ALTER TABLE [dbo].[HOADON] CHECK CONSTRAINT [FK_HOADON_NHANVIEN]
GO
ALTER TABLE [dbo].[NHANVIEN]  WITH CHECK ADD  CONSTRAINT [FK_NHANVIEN_NHOMQUYEN] FOREIGN KEY([MAQUYEN])
REFERENCES [dbo].[NHOMQUYEN] ([MAQUYEN])
GO
ALTER TABLE [dbo].[NHANVIEN] CHECK CONSTRAINT [FK_NHANVIEN_NHOMQUYEN]
GO
ALTER TABLE [dbo].[PHIEUNHAP]  WITH CHECK ADD  CONSTRAINT [FK_PHIEUNHAP_NHACUNGCAP] FOREIGN KEY([MANCC])
REFERENCES [dbo].[NHACUNGCAP] ([MANCC])
GO
ALTER TABLE [dbo].[PHIEUNHAP] CHECK CONSTRAINT [FK_PHIEUNHAP_NHACUNGCAP]
GO
ALTER TABLE [dbo].[PHIEUNHAP]  WITH CHECK ADD  CONSTRAINT [FK_PHIEUNHAP_NHANVIEN] FOREIGN KEY([MANV])
REFERENCES [dbo].[NHANVIEN] ([MANV])
GO
ALTER TABLE [dbo].[PHIEUNHAP] CHECK CONSTRAINT [FK_PHIEUNHAP_NHANVIEN]
GO
ALTER TABLE [dbo].[SANPHAM]  WITH CHECK ADD  CONSTRAINT [FK_SANPHAM_NHACUNGCAP] FOREIGN KEY([MANCC])
REFERENCES [dbo].[NHACUNGCAP] ([MANCC])
GO
ALTER TABLE [dbo].[SANPHAM] CHECK CONSTRAINT [FK_SANPHAM_NHACUNGCAP]
GO
ALTER TABLE [dbo].[SANPHAM]  WITH CHECK ADD  CONSTRAINT [FK_SANPHAM_NHOMHANG] FOREIGN KEY([MANH])
REFERENCES [dbo].[NHOMHANG] ([MANH])
GO
ALTER TABLE [dbo].[SANPHAM] CHECK CONSTRAINT [FK_SANPHAM_NHOMHANG]
GO

CREATE TRIGGER capNhatSoLuongKhiThemHH ON CHITIET_HD AFTER INSERT AS 
BEGIN
	UPDATE SANPHAM
	SET SOLUONG = SOLUONG - (
		SELECT SL
		FROM inserted
		WHERE MASP = SANPHAM.MASP
	)
	FROM SANPHAM
	JOIN inserted ON SANPHAM.MASP = inserted.MASP
END


DROP TRIGGER capNhatSoLuongKhiThemHH 
SELECT * FROM SANPHAM WHERE TENSP=N'Lốc 4 hộp sữa tươi kem vanilla tự nhiên TH true MILK Top Kid Organic'
SELECT * FROM CHITIET_HD
SELECT * FROM HOADON
INSERT INTO CHITIET_HD VALUES(7,'1',3)
----------Linh trigger nhập hàng -------------
-- Tính tiền nhập hàng
drop trigger Tinh_TongTien_PhieuNhap
go
CREATE trigger Tinh_TongTien_PhieuNhap
    on CHITIET_PN
    for insert, update
    as
    begin
    	update 
    		PHIEUNHAP
    	set 
			TONGNHAP =(I.SL * I.GIANHAP) + TONGNHAP*1.0	
    	from 
    		inserted I,
			PHIEUNHAP PH,
    		CHITIET_PN CTPN
    	where 
    		(PH.MAPN = I.MAPN) 
    end
	GO
	---------------------- cập nhật tổng tiền khi xóa sp------------------------
	CREATE trigger Tinh_TongTien_PhieuNhap_Xoa
    on CHITIET_PN
    for delete
    as
    begin
    	update 
    		PHIEUNHAP
    	set 
			TONGNHAP = TONGNHAP - (I.SL * I.GIANHAP)
    	from 
    		deleted I,
			PHIEUNHAP PH,
    		CHITIET_PN CTPN
    	where 
    		(PH.MAPN = I.MAPN) 
    end
	go
--------------------------------------------
	---------------------Trigger cập nhật số lượng sp khi nhập hàng--------------
	CREATE TRIGGER trg_DatHang ON CHITIET_PN AFTER INSERT AS 
BEGIN
	UPDATE SANPHAM
	SET SOLUONG = SOLUONG + (
		SELECT SL
		FROM inserted
		WHERE MASP = SANPHAM.MASP
	)
	FROM SANPHAM
	JOIN inserted ON SANPHAM.MASP = inserted.MASP
END
GO
---------------------cập nhật số lượng khi xóa---------------------
drop trigger trg_DatHang_xoa
go
CREATE TRIGGER trg_DatHang_xoa ON CHITIET_PN AFTER DELETE AS 
BEGIN
	UPDATE SANPHAM
	SET SOLUONG = SOLUONG - (
		SELECT SL
		FROM deleted
		WHERE MASP = SANPHAM.MASP
	)
	FROM SANPHAM
	JOIN deleted ON SANPHAM.MASP = deleted.MASP
END
GO
